package <%=packageName%>;

import <%=packageName%>.config.DefaultProfileUtil;

import io.github.jhipster.config.JHipsterConstants;

import io.micronaut.context.ApplicationContext;
import io.micronaut.context.env.Environment;
import io.micronaut.core.cli.CommandLine;
import io.micronaut.runtime.ApplicationConfiguration;
import io.micronaut.runtime.Micronaut;
import io.micronaut.runtime.server.EmbeddedServer;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.util.*;

public class <%= mainClass %> {

    private static final Logger log = LoggerFactory.getLogger(<%= mainClass %>.class);

    /**
     * Initializes <%= mainClass %>.
     * <p>
     * Spring profiles can be configured with a program argument --spring.profiles.active=your-active-profile
     * <p>
     * You can find more information on how profiles work with JHipster on <a href="https://www.jhipster.tech/profiles/">https://www.jhipster.tech/profiles/</a>.
     */
    public static void checkProfiles(Environment env) {
        Collection<String> activeProfiles = env.getActiveNames();
        if (activeProfiles.contains(JHipsterConstants.SPRING_PROFILE_DEVELOPMENT) && activeProfiles.contains(JHipsterConstants.SPRING_PROFILE_PRODUCTION)) {
            log.error("You have misconfigured your application! It should not run " +
                "with both the 'dev' and 'prod' profiles at the same time.");
        }
        if (activeProfiles.contains(JHipsterConstants.SPRING_PROFILE_DEVELOPMENT) && activeProfiles.contains(JHipsterConstants.SPRING_PROFILE_CLOUD)) {
            log.error("You have misconfigured your application! It should not " +
                "run with both the 'dev' and 'cloud' profiles at the same time.");
        }
    }

    /**
     * Main method, used to run the application.
     *
     * @param args the command line arguments.
     */
    public static void main(String[] args) {
        CommandLine commandLine = CommandLine.parse(args);
        Map<String, Object> options = commandLine.getUndeclaredOptions();
        List<String> environments;
        if (options.containsKey("profiles.active")) {
            String[] profiles = options.get("profiles.active").toString().split(",");
            environments = Arrays.asList(profiles);
        } else {
            environments = DefaultProfileUtil.getDefaultEnvironments();
        }

        ApplicationContext context = Micronaut.build(args)
            .mainClass(<%= mainClass %>.class)
            .environments(environments.toArray(new String[0]))
            .start();

        checkProfiles(context.getEnvironment()/**
        * Copyright 2013-2020 the original author or authors from the JHipster project.
        *
        * This file is part of the JHipster project, see https://www.jhipster.tech/
        * for more information.
        *
        * Licensed under the Apache License, Version 2.0 (the "License");
        * you may not use this file except in compliance with the License.
        * You may obtain a copy of the License at
        *
        *      http://www.apache.org/licenses/LICENSE-2.0
        *
        * Unless required by applicable law or agreed to in writing, software
        * distributed under the License is distributed on an "AS IS" BASIS,
        * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        * See the License for the specific language governing permissions and
        * limitations under the License.
        */
       
       const MICRONAUT_VERSION = '1.3.50';
       
       const constants = {
           MICRONAUT_VERSION
       };
       
       module.exports = constants;
       );

        logApplicationStartup(context);
    }

    private static void logApplicationStartup(ApplicationContext context) {

        EmbeddedServer server = context.getBean(EmbeddedServer.class);
        ApplicationConfiguration application = context.getBean(ApplicationConfiguration.class);
        String protocol = server.getScheme();
        int serverPort = server.getPort();
        String hostAddress = server.getHost();

        log.info("\n----------------------------------------------------------\n\t" +
                "Application '{}' is running! Access URLs:\n\t" +
                "Local: \t\t{}://localhost:{}\n\t" +
                "External: \t{}://{}:{}\n\t" +
                "Profile(s): \t{}\n----------------------------------------------------------",
            application.getName().orElse(null),
            protocol,
            serverPort,
            protocol,
            hostAddress,
            serverPort,
            context.getEnvironment().getActiveNames());
    }
}
